<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>MKAnnotationView+WebCache.h</string>
		</array>
		<array>
			<string>MKAnnotationView+WebCache.m</string>
		</array>
		<array>
			<string>NSData+ImageContentType.h</string>
		</array>
		<array>
			<string>NSData+ImageContentType.m</string>
		</array>
		<array>
			<string>SDImageCache.h</string>
		</array>
		<array>
			<string>SDImageCache.m</string>
		</array>
		<array>
			<string>SDWebImageCompat.h</string>
		</array>
		<array>
			<string>SDWebImageCompat.m</string>
		</array>
		<array>
			<string>SDWebImageDecoder.h</string>
		</array>
		<array>
			<string>SDWebImageDecoder.m</string>
		</array>
		<array>
			<string>SDWebImageDownloader.h</string>
		</array>
		<array>
			<string>SDWebImageDownloader.m</string>
		</array>
		<array>
			<string>SDWebImageDownloaderOperation.h</string>
		</array>
		<array>
			<string>SDWebImageDownloaderOperation.m</string>
		</array>
		<array>
			<string>SDWebImageManager.h</string>
		</array>
		<array>
			<string>SDWebImageManager.m</string>
		</array>
		<array>
			<string>SDWebImageOperation.h</string>
		</array>
		<array>
			<string>SDWebImagePrefetcher.h</string>
		</array>
		<array>
			<string>SDWebImagePrefetcher.m</string>
		</array>
		<array>
			<string>UIButton+WebCache.h</string>
		</array>
		<array>
			<string>UIButton+WebCache.m</string>
		</array>
		<array>
			<string>UIImage+GIF.h</string>
		</array>
		<array>
			<string>UIImage+GIF.m</string>
		</array>
		<array>
			<string>UIImage+MultiFormat.h</string>
		</array>
		<array>
			<string>UIImage+MultiFormat.m</string>
		</array>
		<array>
			<string>UIImage+WebP.h</string>
		</array>
		<array>
			<string>UIImage+WebP.m</string>
		</array>
		<array>
			<string>UIImageView+HighlightedWebCache.h</string>
		</array>
		<array>
			<string>UIImageView+HighlightedWebCache.m</string>
		</array>
		<array>
			<string>UIImageView+WebCache.h</string>
		</array>
		<array>
			<string>UIImageView+WebCache.m</string>
		</array>
		<array>
			<string>UIView+WebCacheOperation.h</string>
		</array>
		<array>
			<string>UIView+WebCacheOperation.m</string>
		</array>
	</array>
</dict>
</plist>
